<header class="app-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="user-profile">
                    <div class="avatar">
                        <div>
                            <img src="assets/img/faces/f_3.jpeg" alt="avatar"/>
                        </div>
                    </div>
                    <a href="#/login" class="logout"><span class="glyphicon glyphicon-off"></span></a>
                    <div class="bubble bubble1"></div>
                    <div class="bubble bubble2"></div>
                    <div class="bubble bubble3"></div>
                    <div class="bubble bubble4"></div>
                    <button class="photo"><i class="flaticon-photo-camera"></i></button>
                    <button class="profile"><i class="flaticon-emoticon"></i></button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="nav-holder">
                    <button class="nav-item chat"><i class="flaticon-speech-ballon"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2><span class="matches">{{vm.title}}</span></h2>
            </div>
        </div>
    </div>
</header>