<div class="app-wrapper">
    <div class="responsive-container">
        <div class="incl-disabled" ng-include="'partials/header.html'"></div>
        <section class="app-content">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="tunnel" ng-show="!vm.isFinish">
                                <h1>
                                    <i class="flaticon-diary"></i>
                                    <span class="q-category">{{vm.currentCategory.text}}</span>
                                    <span class="q-text">{{vm.currentQuestion.text}}</span>
                                </h1>
                                <ul class="q-answers">
                                    <li ng-repeat="answer in vm.currentQuestion.answers">
                                        <input type="checkbox" id="q-{{answer.id}}"/>
                                        <label for="q-{{answer.id}}">{{answer.text}}</label>
                                    </li>
                                </ul>
                                <br>
                                <form>
                                    <fieldset>
                                        <div class="field">
                                            <button ng-click="vm.getNextQuestion()">Next</button>
                                        </div>
                                        <div class="note">
                                            You can choose one or more answers.
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="tunnel" ng-hide="!vm.isFinish">                                
                                <h1>
                                    <i class="flaticon-diary"></i>
                                    <span class="q-category">You are done!</span>
                                    <span class="q-text">Your color is: <div class="your-color" style="background-color: {{vm.currentColor}}"></div></span>
                                </h1>
                                 <div class="person single">
                                 <ul class="color">
                                    <li><div ng-attr-style="background-color: {{vm.getRed(vm.currentColor)}}"></div>Lifestyle</li>
                                    <li><div ng-attr-style="background-color: {{vm.getGreen(vm.currentColor)}}"></div>Personality</li>
                                    <li><div ng-attr-style="background-color: {{vm.getBlue(vm.currentColor)}}"></div>Nature</li>
                                </ul>
                                </div>
                                <form>
                                <fieldset>
                                    <div class="field">
                                        <button ng-click="vm.gotoHome()">Done</button>
                                    </div>                                       
                                </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div class="incl-disabled" ng-include="'partials/footer.html'"></div>
    </div>
</div>