<div class="app-wrapper">
    <div class="responsive-container">
        <!-- <div class="incl-disabled" ng-include="'partials/header.html'"></div> -->
        <section class="app-content">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">

                            <form name="form" ng-submit="vm.register()" role="form">
                                <h1><i class="flaticon-teddy-bear"></i> Register</h1>
                                <fieldset>
                                    <div class="field" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                                        <input type="text" placeholder="first name" name="firstName" id="firstName"
                                               ng-model="vm.user.firstName" required/>
                                    <span ng-show="form.firstName.$dirty && form.firstName.$error.required"
                                          class="help-block">First name is required</span>
                                    </div>


                                    <div class="field" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                                        <input type="text" placeholder="last name" name="lastName" id="Text1"
                                               ng-model="vm.user.lastName" required/>
                                    <span ng-show="form.lastName.$dirty && form.lastName.$error.required"
                                          class="help-block">Last name is required</span>
                                    </div>

                                    <div class="field" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                                        <input type="text" placeholder="username" name="username" id="username"
                                               ng-model="vm.user.username" required/>
                                    <span ng-show="form.username.$dirty && form.username.$error.required"
                                          class="help-block">Username is required</span>
                                    </div>

                                    <div class="field" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                        <input type="password" placeholder="password" name="password" id="password"
                                               ng-model="vm.user.password" required/>
                                    <span ng-show="form.password.$dirty && form.password.$error.required"
                                          class="help-block">Password is required</span>
                                    </div>

<div class="field">
    <button type="submit" ng-disabled="form.$invalid"
            class="btn btn-primary">Register
    </button>
    <img ng-if="vm.dataLoading"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

</div>
                                    <div class="note">
                                        Already having an account? <a href="#/login">Login!</a>
                                    </div>
                                </fieldset>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
