@import "config.less";
@import "auth.less";
@import "layout.less";

/* ----------------------------------------------------------------------*/
// Custom style

// User profile
.user-profile {
    position: relative;
    margin-left: -10px;

    .avatar {
        position: relative;
        width: 116px;
        height: 116px;
        border-radius: 50%;
        background: @cPink;
        padding: 8px;
        z-index: 11;

        > div {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: @cDisabledGray;
            border: 4px solid @cWhite;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.2s ease-in-out 0s;

            &:hover {
                transform: scale(1.1);
            }

            img {
                border-radius: 50%;
                width: 100%;
                height: auto;
                min-height: 100%;
            }
        }
    }

    .logout {
        border: 0;
        display: block;
        width: 24px;
        height: 24px;
        border: 2px solid @cWhite;
        text-align: center;
        color: @cWhite;
        padding-top: 1px;
        border-radius: 50%;
        position: absolute;
        z-index: 12;
        top: 80px;
        left: 85px;
        background: @cGreen;
        cursor: pointer;
        transition: all 0.2s ease-in-out 0s;

        &:hover {
            transform: scale(1.1);
        }
    }

    button {
        border: 0;
        color: @cWhite;
        transition: all 0.2s ease-in-out 0s;
        background: none;
        position: absolute;
        z-index: 12;
        display: block;

        i:before {
            font-size: 26px;
        }

        &:hover {
            transform: scale(1.2);
        }

        &.photo {
            top: 10px;
            left: 105px;
        }

        &.profile {
            top: 22px;
            left: 155px;
        }
    }

    .bubble {
        position: absolute;
        z-index: 0;
        border-radius: 50%;
        background: @cPink;

        &.bubble1 {
            left: 80px;
            top: 10px;
            width: 80px;
            height: 80px;
        }

        &.bubble2 {
            left: 70px;
            top: 45px;
            width: 70px;
            height: 70px;
        }

        &.bubble3 {
            left: 100px;
            top: 30px;
            width: 80px;
            height: 80px;
        }

        &.bubble4 {
            left: 140px;
            top: 15px;
            width: 60px;
            height: 60px;
        }
    }

}

// Navigation items
.nav-item {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    transition: all 0.2s ease-in-out 0s;
    outline-width: 0;

    &:hover {
        transform: scale(1.1);
    }

    i:before {
        font-size: 65px;
        line-height: 65px;
    }

    &.chat {
        color: @cBlue;
    }

    &.connections {
        color: @cGreen;
    }

    &.matches {
        color: @cRed;
    }

    &[disabled] {
        color: @cDisabledGray;
    }

}

/* ----------------------------------------------------------------------*/
// Lists

.person {
    position: relative;
    margin-bottom: 40px;
    padding-left: 110px;
    min-height: 90px;

    .avatar {
        width: 90px;
        height: 90px;
        position: absolute;
        left: 0;
        top: 0;
        border: 5px solid @cBlue;
        border-radius: 50%;
        transition: all 0.2s ease-in-out 0s;
        cursor: pointer;
        overflow: hidden;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        .avatar {
            transform: scale(1.1);
        }
    }

    .separator {
        position: relative;
        margin: 5px 0;
        margin-right: 45px;
        border-bottom: 2px dashed @cGreen;
    }

    a {
        color: @cRed;
    }

    h3 {
        font-size: 17px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        color: @cRed;
        padding-right: 70px;

        span.age {
            font-size: 14px;
            color: @cBlue;
        }

        span.location {
            font-size: 13px;
            color: @cGreenDark;
        }
    }

    ul.color {
        position: relative;

        li {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 1px;
        }
    }

    .actions {
        button {
            border: 0;
            background: none;
            transition: all 0.2s ease-in-out 0s;
            outline-width: 0;
            position: absolute;

            &:hover {
                transform: scale(1.1);
            }

            &.chat {
                right: 45px;
                top: 0;

                i:before {
                    font-size: 30px;
                    color: @cBlue;
                }
            }

            &.connect {
                right: 0;
                top: 18px;

                i:before {
                    font-size: 28px;
                    color: @cRed;
                }
            }

            &.reject {
                right: 45px;
                top: 45px;

                i:before {
                    font-size: 20px;
                    color: @cDarkGray;
                }
            }

        }
    }

    &.single {
        position: relative;
        margin-bottom: 0;
        padding-left: 0;
        min-height: 0;
        padding-top: 20px;

        .avatar {
            width: 140px;
            height: 140px;
            position: relative;
            border: 6px solid @cBlue;
            border-radius: 50%;
            transition: all 0.2s ease-in-out 0s;
            cursor: pointer;
            overflow: hidden;
            margin: 0 auto;
            z-index: 6;

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }

        .separator {
            position: absolute;
            width: 100%;
            top: 90px;
            margin: 0;
            margin-right: 0;
            border-bottom: 2px dashed @cGreen;
        }

        .actions {
            button {
                border: 0;
                background: none;
                transition: all 0.2s ease-in-out 0s;
                outline-width: 0;
                position: absolute;

                &:hover {
                    transform: scale(1.1);
                }

                &.chat {
                    right: 25%;
                    top: 40px;
                }

                &.connect {
                    left: 27%;
                    top: 45px;
                }

                &.reject {
                    right: 27%;
                    top: 95px;
                }

            }
        }

        h3 {
            text-align: center;
            padding-right: 0;
        }

        ul.color {
            padding: 30px 0;
            position: relative;
            text-align: center;

            li {
                width: auto;
                height: auto;
                border-radius: 0;
                display: inline-block;
                margin: 0 1px;
                width: 20%;
                font-size: 13px;
                color: @cTypoGray;
                margin: 0;
                margin: 0 15px;
                padding: 0;

                div {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: inline-block;
                    margin: 0 auto;
                    margin-bottom: 5px;
                    display: block;
                }
            }
        }

        .description {
            padding: 0px 15px;
            text-align: center;
            font-size: 13px;
            color: @cTypoGray;
        }
    }
}

/* ----------------------------------------------------------------------*/
.unseen {
    color: @cBlue !important;
    font-weight: 700 !important;
}

/* ----------------------------------------------------------------------*/

.message {
    position: relative;
    width: 50%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 8px;
    background: @cBlue;
    color: @cWhite;
    font-size: 12px;
    margin-left: 5%;

    &.mymsg {
        color: @cDarkGray;
        background: @cDisabledGray;
        margin-left: 45%;
    }
}

.person {
    &.person-messages {
        .separator {
            margin-right: 0 !important;
        }
    }
}

/* ----------------------------------------------------------------------*/

.send-message {
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background: @cWhite;

    i {
        color: @cBlue;
        margin-right: 5px;
        float: right;
        z-index: 5;
        cursor: pointer;
    }
    i:before {
        font-size: 36px;
        line-height: 44px;
    }
}

.message-content {
    padding-bottom: 70px;
}