@import "../../libs/flaticon/flaticon.css";
/* ----------------------------------------------------------------------*/
* {
  text-decoration: none;
}
body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #7b7b7b;
  text-align: left;
}
a,
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
h2 {
  display: block;
  position: relative;
  margin: 0 5px;
  padding: 15px 0 0 0;
  font-size: 18px;
  font-weight: 900;
  padding-left: 13px;
}
h2:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #4586e7;
  left: 0;
  top: 21px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
h2 .matches {
  color: #e74545;
}
/* ----------------------------------------------------------------------*/
.app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 15px;
}
.app-wrapper .responsive-container {
  position: relative;
  margin: 0 auto;
  max-width: 660px;
  height: 100%;
}
.app-wrapper .responsive-container .app-header,
.app-wrapper .responsive-container .app-footer {
  padding: 10px 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
}
.app-wrapper .responsive-container .app-header {
  top: 0;
  height: 180px;
}
.app-wrapper .responsive-container .app-header .nav-item {
  padding-top: 22px;
}
.app-wrapper .responsive-container .app-header .row .col-xs-6:last-child {
  text-align: right;
}
.app-wrapper .responsive-container .app-footer {
  bottom: 0;
  height: 120px;
  padding-top: 20px;
}
.app-wrapper .responsive-container .app-footer .row .col-xs-6:last-child {
  text-align: right;
  padding-top: 3px;
}
.app-wrapper .responsive-container .app-footer .row .col-xs-6:last-child i:before {
  font-size: 55px;
}
.app-wrapper .responsive-container .app-content {
  position: relative;
  overflow: auto;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 120px;
}
.app-wrapper .responsive-container .app-content > .content {
  position: relative;
  overflow: auto;
  height: 100%;
  padding: 0 20px;
}
/* ----------------------------------------------------------------------*/
/* ----------------------------------------------------------------------*/
/* ----------------------------------------------------------------------*/
