<div class="app-wrapper">
    <div class="responsive-container">
        <div ng-include="'partials/header.html'"></div>
        <!--
        <section class="app-content">
            <div class="message-container" ng-repeat="message in vm.messages">
                <div class="from-image">
                    <img class="image-from" width="50px" height="50px" ng-src="assets/img/faces/{{message.from}}.jpeg">
                </div>
                <div class="from-info">
                    <span class="message-from">{{vm.getUserDetail(message.from, 'name')}}</span><span class="message-date">last massaged on {{message.date}}</span>
                    <span class="massage-text" ng-class="{unseen: !message.read}">{{message.message}}</span>
                </div>
            </div>
        </section>
        -->
        <section class="app-content">
            <div class="content">
                <div class="person person-message" ng-repeat="message in vm.messages">
                    <a href="#/profile/{{message.from}}">
                        <div ng-attr-style="border-color: {{message.from}}" class="avatar"><img ng-src="assets/img/faces/{{message.from}}.jpeg" alt="face"/></div>
                    </a>
                    <h3><a href="#/profile/{{message.from}}">{{message.user}},</a> last messaged on {{message.date}} </h3>
                    <div class="separator"></div>
                    <p class="massage-text" ng-class="{unseen: !message.read}">{{message.message}}</p>
                    <div class="actions">
                        <button class="chat" ng-click="vm.openConversation(message.from)"><i class="flaticon-letter"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <div ng-include="'partials/footer.html'"></div>
    </div>
</div>
